@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: radial-gradient(
    51.99% 51.99% at 81.48% 48.01%,
    #9747ff 0%,
    #000 100%
  );
  --hightlight-color: linear-gradient(
    90deg,
    #40c9ff 6.23%,
    #7b8dff 31.44%,
    #e81cff 78.46%
  );
}

.highlight__text {
  background: var(--hightlight-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
